h1 {
    font-family: "Montserrat", sans-serif;
}

.navbar {
    background-color: #542451;
    font-size: 1.5rem;
    text-align: right;
}

.jumbotron {
    text-align: center;
    margin-left: 0;
    background-color: #fff;
    padding: 100px;
    
}

.middle-container {
    margin-left: 25%;
}
.bottom-container {
    margin-left: 15%;
}

p {
    font-size: 1.5rem;
    
}

footer {
    padding: 15px;
}

p{
    padding: 50px;
}
.foodImg {
    height: 20rem;
    margin: 0;
    
}
.home-pic {
    width: 25rem;
}
body {
    text-align: center;
}
